<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/standard">
    <head>
        <title th:text="#{roles.title}"></title>
    </head>
    <script type="text/javascript" th:fragment="asset">
        function extendRequireJsDependency(paths, shims, requires) {
            paths['role.views.RolePageView'] = AppCommon.assetBaseUrl + 'cts/js/role/views/RolePageView';
            paths['security.model'] = AppCommon.assetBaseUrl + 'cts/js/common/model/SecurityModels';
            requires.push('role.views.RolePageView');
        }
    </script>
    <body>
        <div layout:fragment="windowTitle" th:text="#{roles.title}"></div>
        <div class="row" layout:fragment="content">
            <div class="col-lg-10">
                <div id="main-container" class="table-responsive">

                </div>
            </div>
        </div>
    </body>
</html>