<table class="table table-striped table-bordered table-hover" xmlns:th="http://www.thymeleaf.org">
    <tbody>
        <tr><td class="errorDescription" colspan="2"></td></tr>
        <tr>
            <th th:text="#{roles.id}"></th>
            <td>{{=id}}</td>
        </tr>
        <tr>
            <th th:text="#{roles.description}"></th>
            <td>
                <input name="description" size="30" class="form-control input-sm" value="{{=description}}"
                       data-parsley-required="true"
                       th:attr="data-parsley-required-message=#{roles.validation.empty.description}"
                       data-parsley-errors-container="div[data-remark-field='description']"/>
                <div class="fieldRemark" data-remark-field="description"></div>
            </td>
        </tr>
        <tr>
            <th th:text="#{roles.privileges}"></th>
            <td width="50%">
                <select id="privileges" name="privileges[]" class="select2"
                        data-multiple="true"
                        data-select-mode="object"
                        data-allow-clear="true"
                        data-value='{{=escape(JSON.stringify(privileges))}}'
                        data-unescape="true"
                        data-parsley-required="true"
                        th:attr="data-parsley-required-message=#{roles.validation.empty.privileges}"
                        data-parsley-errors-container="div[data-remark-field='privileges']">
                </select>
                <div class="fieldRemark" data-remark-field="privileges"></div>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{'/role/view.htm?id={{=id}}'}" class="btnCancel btn btn-default" th:text="#{common.cancel}"></a>
            </td>
            <td>
                <button class="btnSave btn btn-primary" th:text="#{common.save}"></button>
            </td>
        </tr>
    </tbody>
</table>