<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/standard">
    <head>
        <title th:text="#{feProp.title}"></title>
    </head>
    <script type="text/javascript" th:fragment="asset">
        function extendRequireJsDependency(paths, shims, requires) {
            paths['feProp.views.FePropEditPageView'] = AppCommon.assetBaseUrl + 'cts/js/feProp/views/FePropEditPageView';
            paths['security.model'] = AppCommon.assetBaseUrl + 'cts/js/common/model/SecurityModels';
            requires.push('feProp.views.FePropEditPageView');
        }
    </script>
    <body>
        <div layout:fragment="windowTitle" th:text="#{feProp.title}"></div>
        <div class="row" layout:fragment="content">
            <div class="col-lg-6">
                <div id="feProp-edit-container" class="panel panel-default" data-parsley-validate="true">

                </div>
            </div>
        </div>
    </body>
</html>