<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/standard">
    <head>
        <title th:text="#{feProp.title}"></title>
    </head>
    <script type="text/javascript" th:fragment="asset">
        function extendRequireJsDependency(paths, shims, requires) {
            paths['feProp.views.list.FePropListPageView'] = AppCommon.assetBaseUrl + 'cts/js/feProp/views/list/FePropListPageView';
            paths['feProp.views.list.FePropListView'] = AppCommon.assetBaseUrl + 'cts/js/feProp/views/list/FePropListView';
            requires.push('feProp.views.list.FePropListPageView');
        }
    </script>
    <body>
        <div layout:fragment="windowTitle" th:text="#{feProp.title}"></div>
        <div id="main-container" layout:fragment="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="tableContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${@aclFEProp.isCanCreate()}">
                <a th:href="@{/feProp/new.htm}" class="btn btn-primary" th:text="#{common.create}"></a>
            </div>
        </div>
    </body>
</html>