<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/standard">
    <head>
        <title th:text="#{users.title}"></title>
    </head>
    <script type="text/javascript" th:fragment="asset">
        function extendRequireJsDependency(paths, shims, requires) {
            paths['user.views.list.UserFilterTableView'] = AppCommon.assetBaseUrl + 'cts/js/user/views/list/UserFilterTableView';
            requires.push('user.views.list.UserFilterTableView');
        }
    </script>
    <body>
        <div layout:fragment="windowTitle" th:text="#{users.title}"></div>
        <div id="main-container" layout:fragment="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="filterContainer"></div>
                            </div>
                            <div class="col-lg-8">
                                <div id="tableContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${@aclUser.isCanCreate()}">
                <a th:href="@{/user/new.htm}" class="btn btn-primary" th:text="#{common.create}"></a>
            </div>
        </div>
    </body>
</html>