<table class="table table-striped table-bordered table-hover" xmlns:th="http://www.thymeleaf.org">
    <tbody>
        <tr>
            <th th:text="#{cardProduct.productConfigId}"></th>
            <td>{{=productConfigId}}</td>
        </tr>
        <tr>
            <th th:text="#{cardProduct.beginRange}"></th>
            <td>{{=beginRange}}</td>
        </tr>
        <tr>
            <th th:text="#{cardProduct.endRange}"></th>
            <td>{{=endRange}}</td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/cardProduct/list.htm}" class="btn btn-default" th:text="#{common.back}"></a>
            </td>
            <td>
                <a th:href="@{'/cardProduct/edit.htm?productConfigId={{=productConfigId}}'}" class="btn btn-primary" th:text="#{common.edit}" th:if="${@aclCardProduct.isCanEdit()}"></a>
                <button class="btnDelete btn btn-danger" th:text="#{common.delete}" th:if="${@aclCardProduct.isCanDelete()}"></button>
            </td>
        </tr>
    </tbody>
</table>
