<table class="table table-striped table-bordered table-hover" xmlns:th="http://www.thymeleaf.org">
    <tbody>
        <tr><td class="errorDescription" colspan="2"></td></tr>
        <tr>
            <th th:text="#{cardProduct.id}"></th>
            <td>{{=id}}</td>
        </tr>
        <tr>
            <th th:text="#{cardProduct.productConfigId}"></th>
            <td>{{=productConfigId}}</td>
        </tr>
        <tr>
            <th th:text="#{cardProduct.beginRange}"></th>
            <td>
                <input name="beginRange" size="19" class="form-control input-sm" value="{{=beginRange}}" th:minlength="16" th:maxlength="19"
                       data-parsley-required="true"
                       th:attr="data-parsley-required-message=#{cardProduct.validation.empty.beginRange}"
                       data-parsley-errors-container="div[data-remark-field='name']"/>
                <div class="fieldRemark" data-remark-field="beginRange"></div>
            </td>
        </tr>
        <tr>
            <th th:text="#{cardProduct.endRange}"></th>
            <td>
                <input name="endRange" size="19" class="form-control input-sm" value="{{=endRange}}" th:minlength="16" th:maxlength="19"
                       data-parsley-required="true"
                       th:attr="data-parsley-required-message=#{cardProduct.validation.empty.endRange}"
                       data-parsley-errors-container="div[data-remark-field='name']"/>
                <div class="fieldRemark" data-remark-field="endRange"></div>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{'/cardProduct/view.htm?id={{=id}}'}" class="btnCancel btn btn-default" th:text="#{common.cancel}"></a>
            </td>
            <td>
                <button class="btnSave btn btn-primary" th:text="#{common.save}"></button>
            </td>
        </tr>
    </tbody>
</table>