<form data-parsley-validate="true" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <div class="row">
        <label class="col-lg-4 col-sm-3 col-xs-3" for="currentPassword" th:text="#{profile.current.password}"></label>
        <div class="col-lg-5 col-sm-5 col-xs-5 form-group">
            <input id="currentPassword" name="currentPassword" type="password" class="form-control"
                   data-parsley-required="true"
                   th:attr="data-parsley-required-message=#{org.hibernate.validator.constraints.NotEmpty.message}"
                   data-parsley-errors-container="div[data-remark-field='currentPassword']"/>
            <div class="fieldRemark" data-remark-field="currentPassword"></div>
        </div>
    </div>

    <div class="row">
        <label class="col-lg-4 col-sm-3 col-xs-3" for="newPassword" th:text="#{profile.new.password}"></label>
        <div class="col-lg-5 col-sm-5 col-xs-5 form-group">
            <input id="newPassword" name="newPassword" type="password" class="form-control"
                   data-parsley-required="true"
                   th:attr="data-parsley-required-message=#{org.hibernate.validator.constraints.NotEmpty.message},data-parsley-notequalto-message=#{cts.validation.message.passwords.new.and.current.match}"
                   data-parsley-notequalto="#currentPassword"
                   data-parsley-errors-container="div[data-remark-field='newPassword']"/>
            <div class="fieldRemark" data-remark-field="newPassword"></div>
        </div>
    </div>

    <div class="row">
        <label class="col-lg-4 col-sm-3 col-xs-3" for="confirmNewPassword" th:text="#{users.password.confirm}"></label>
        <div class="col-lg-5 col-sm-5 col-xs-5 form-group">
            <input id="confirmNewPassword" type="password" class="form-control"
                   data-parsley-required="true"
                   th:attr="data-parsley-required-message=#{org.hibernate.validator.constraints.NotEmpty.message},data-parsley-equalto-message=#{cts.validation.message.passwords.not.match}"
                   data-parsley-equalto="#newPassword"
                   data-parsley-errors-container="div[data-remark-field='confirmNewPassword']"/>
            <div class="fieldRemark" data-remark-field="confirmNewPassword"></div>
        </div>
    </div>
</form>