<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/standard">
<head>
    <title th:text="#{cardProduct.title}"></title>
</head>
<script type="text/javascript" th:fragment="asset">
    function extendRequireJsDependency(paths, shims, requires) {
        paths['cardProduct.views.list.CardProductFilterTableView'] = AppCommon.assetBaseUrl + 'cts/js/cardProduct/views/list/CardProductFilterTableView';
        requires.push('cardProduct.views.list.CardProductFilterTableView');
    }
</script>
<body>
<div layout:fragment="windowTitle" th:text="#{cardProduct.title}"></div>
<div id="main-container" layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <div id="filterContainer"></div>
                    </div>
                    <div class="col-lg-10">
                        <div id="tableContainer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${@aclCardProduct.isCanCreate()}">
            <a class="btn btn-primary" th:href="@{/cardProduct/new.htm}" th:text="#{common.create}"></a>
        </div>
    </div>
</div>
</body>
</html>