<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/standard">
    <head>
        <title th:text="#{cardProduct.title}"></title>
    </head>
    <script type="text/javascript" th:fragment="asset">
        function extendRequireJsDependency(paths, shims, requires) {
            paths['cardProduct.views.CardProductPageView'] = AppCommon.assetBaseUrl + 'cts/js/cardProduct/views/CardProductPageView';
            paths['security.model'] = AppCommon.assetBaseUrl + 'cts/js/common/model/SecurityModels';
            requires.push('cardProduct.views.CardProductPageView');
        }
    </script>
    <body>
        <div layout:fragment="windowTitle" th:text="#{cardProduct.title}"></div>
        <div class="row" layout:fragment="content">
            <div class="col-lg-10">
                <div id="main-container" class="table-responsive">

                </div>
            </div>
        </div>
    </body>
</html>