<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/standard">
<head>
    <title th:text="#{messageHistory.title}"></title>
</head>
<script type="text/javascript" th:fragment="asset">
    function extendRequireJsDependency(paths, shims, requires) {
        paths['messageHistory.views.list.MessageHistoryFilterTableView'] = AppCommon.assetBaseUrl + 'cts/js/messageHistory/views/list/MessageHistoryFilterTableView';
        requires.push('messageHistory.views.list.MessageHistoryFilterTableView');
    }
</script>
<body>
<div layout:fragment="windowTitle" th:text="#{messageHistory.title}"></div>
<div id="main-container" layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="filterContainer"></div>
                    </div>
                    <div class="col-lg-12">
                        <div id="tableContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>